@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  box-sizing: border-box; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 22vh auto auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  background-color: #FFB2C2;
  font-family: 'Roboto', sans-serif;
  align-items: center; }

/*keyframes */
@keyframes cintillo {
  0% {
    color: white; }
  25% {
    color: #d7e60a; }
  50% {
    color: white; }
  75% {
    color: #d7e60a; }
  100% {
    color: white; } }

/* MEDIA QUERYS INDEX */
@media (max-width: 1200px) {
  main {
    min-height: 100vh; }
  .gridVideos {
    justify-items: center;
    justify-content: space-around; }
  .gridVideos iframe {
    width: 1600px;
    margin-top: 15px; }
  .gridVideos h2 {
    margin-top: -3px; } }

@media (max-width: 900px) {
  .cintillo {
    font-size: 45px; } }

@media (max-width: 812px) {
  .cintillo {
    font-size: 40px; } }

@media (max-width: 769px) {
  .header {
    display: flex;
    flex-direction: column; }
  .header .logo-header img {
    width: 70px; }
  .nav-menu a {
    font-size: 17px; } }

@media (max-width: 724px) {
  .cintillo {
    font-size: 35px; }
  .nav-menu a {
    font-size: 15px; }
  .banner .textoBanner {
    font-size: 3rem;
    bottom: 34%; } }

@media (max-width: 636px) {
  main {
    min-height: 100vh; }
  .cintillo {
    font-size: 30px; }
  .nav-menu a {
    font-size: 15px; }
  .gridVideos iframe {
    width: 500px;
    height: 500px;
    margin-top: 15px; } }

@media (max-width: 607px) {
  main {
    min-height: 100vh; }
  .cintillo {
    font-size: 27px; }
  .nav-menu a {
    font-size: 13px; }
  .gridVideos iframe {
    width: 400px;
    height: 400px;
    margin-top: 15px; }
  .banner img {
    width: 100%;
    height: 270px;
    margin-top: 10px; } }

@media (max-width: 545px) {
  main {
    min-height: 100vh; }
  .cintillo {
    font-size: 20px; }
  .nav-menu a {
    font-size: 11px; }
  .banner img {
    width: 100%;
    height: 120px; }
  .header li {
    margin: 5px; }
  .banner .textoBanner {
    font-size: 1rem;
    bottom: 63%; } }

@media (max-width: 432px) {
  main {
    min-height: 100vh; }
  .nav-menu a {
    font-size: 9x; }
  .gridVideos iframe {
    width: 300px;
    height: 300px; }
  .banner img {
    width: 100%;
    height: 120px;
    margin-top: 10px; }
  .header li {
    margin: 2px; }
  .nav-menu a {
    font-size: 9px; } }

@media (max-width: 372px) {
  main {
    min-height: 100vh; }
  .cintillo {
    font-size: 12px; }
  .nav-menu a {
    font-size: 7px; }
  .banner img {
    height: 120px;
    margin-top: 10px; } }

@media (max-width: 320px) {
  .cintillo {
    font-size: 20px; }
  .gridVideos iframe {
    width: 300px;
    height: 300px;
    margin-top: 15px; }
  .header {
    display: flex;
    flex-direction: column; }
  .header .logo-header img {
    width: 50px;
    align-items: center; }
  .nav-menu a {
    color: #4E0909;
    font-size: 7px;
    font-weight: bolder; }
  .header ul {
    list-style: none;
    justify-content: space-evenly; }
  .banner img {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 10px; }
  .banner .textoBanner {
    display: none; } }

/*MEDIA QUERYS SERVICIO*/
@media (max-width: 991px) {
  .servicio {
    width: 20rem; }
  .main .fotos {
    width: 500px; }
  .main .fotoCentral {
    width: 500px; }
  .main .parrafoPrincipal {
    background-color: #D0CECE;
    color: #090909;
    width: auto;
    height: 80px;
    text-align: center;
    padding: 15px;
    font-size: 10px; } }

@media (max-width: 631px) {
  .gridServicioDetallado {
    grid-template-columns: 200px 200px; }
  .gridServicioDetalladoCentral {
    grid-template-columns: 200px 200px; }
  .main .fotos {
    width: 200px;
    height: 200px; }
  .main .fotoCentral {
    width: 200px;
    height: 200px; }
  .main .parrafoPrincipal {
    font-size: 10px; } }

@media (max-width: 420px) {
  .main .fotos {
    width: 200px;
    height: 200px; }
  .main .fotoCentral {
    width: 200px;
    height: 200px; }
  .main .parrafoPrincipal {
    font-size: 10px; } }

@media (max-width: 420px) and (max-width: 485px) {
  .formularioPrincipal {
    width: 320px; }
  input {
    width: 318px; }
  textarea {
    width: 318px;
    height: 150px; }
  select {
    width: 318px; }
  .boton {
    width: 318px; }
  .mapa iframe {
    width: 318px;
    height: auto; } }

@media (max-width: 485px) {
  .formularioPrincipal {
    width: 300px; }
  input {
    width: 245px; }
  textarea {
    width: 245px;
    height: 150px; }
  select {
    width: 245px; }
  .boton {
    width: 245px; }
  .mapa iframe {
    width: 245px;
    height: auto; } }

.whatsapp img {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  z-index: 100; }

.main .banner .textoBanner {
  display: inline-flex;
  font-size: 5rem;
  position: absolute;
  bottom: 34%;
  left: 40px;
  color: #4E0909; }

.header {
  grid-area: header;
  background-color: #FFB2C2;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header .logo-header img {
    width: 100px; }
  .header .logo-header:hover {
    transform: rotate(340deg); }
  .header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  .header .nav-item a {
    color: #4E0909;
    font-size: 17px;
    font-weight: bolder; }
    .header .nav-item a:hover {
      color: #FFB2C2; }

.main {
  background-color: #ffffff;
  grid-area: main; }
  .main .banner img {
    display: flex;
    width: 100%;
    height: 375px; }
  .main .cintillo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4E0909;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    animation-name: cintillo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s; }
  .main .gridVideos {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around; }
    .main .gridVideos iframe {
      width: 100%; }
    .main .gridVideos h2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 21px;
      font-weight: bold;
      background: #D0CECE;
      color: #4E0909;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 10px; }

.footer {
  grid-area: footer;
  background: #FFB2C2;
  background: linear-gradient(180deg, #ffb2c2 0%, #791127 100%);
  width: 100%;
  text-align: center;
  padding: .5rem 2rem;
  font-size: 9px; }
